body {
  background: radial-gradient(circle, #0f2027, #000);
  color: white;
  text-align: center;
  font-family: Arial;
}

canvas {
  background: #111;
  border-radius: 16px;
  border: 5px solid #00ff99;
  box-shadow: 0 0 25px #00ff99;
}

select, button {
  padding: 6px;
  margin: 4px;
  border-radius: 6px;
}
