body {
  background: radial-gradient(circle, #0f2027, #000);
  color: white;
  text-align: center;
  font-family: Arial;
  margin: 0;
  padding: 0;
}

canvas {
  background: #111;
  border-radius: 16px;
  border: 5px solid #00ff99;
  box-shadow: 0 0 25px #00ff99;
  margin: 10px auto;
  display: block;
}

#menu {
  margin-bottom: 10px;
}

select, button {
  padding: 6px 10px;
  margin: 4px;
  border-radius: 6px;
  border: none;
  background: #222;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

select:hover, button:hover {
  background: #333;
}

#info {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
